
*{
    margin:0%;
    padding:0%;
}
html, body {
    height:100%;
    padding:0;
    margin:0;
}
body{
    background-image: url("../images/medical.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}
input[type=File]{
    margin:0 auto;
}
label{
    margin-top: 20rem;
}
img{
    opacity: 0.5;
}